#window {
    color: black;
    border: 0px;
    border-radius: 20px;
    /* overflow: scroll; */
    overflow: hidden;
    /* text-align: center; */
    margin: auto;
    height: 800px;
    width: 1200px;
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2b0e6;
    padding-bottom: 40px;
}

#windowLabel{
    font-size: auto;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: auto;
    padding: 5px;
    color: white;
    background-color: #750f7e;
}

#title {
    font-size: 70px;
    display: inline-block;
    padding-left: 450px;
    padding-right: 300px;

}

#toPollPageBtn {
    transform: translateY(-18px);
    top: 34px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    border: none;
    color: white;
    background-color: #a65bad;
    transition: all 200ms;
    border: 1px solid white;
    z-index: 10 ;
}

#toPollPageBtn:hover {
    cursor: pointer;
    scale: 1.05;
}

#pollInfo {
    font-size: 35px;
    padding: 1.5%;
    color: #883e8f;
    text-align: center;
}

#allResults {
    height: 80%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 30px;
    column-gap: 30px;
    /* justify-content: space-around; */
    justify-content:space-evenly;
    overflow-y: scroll;
}

.result {
    border-radius: 20px;
    height: 100%;
    max-height: 10000px;
    width: 550px;
    width: auto;
    overflow: hidden;
    transition-timing-function: ease-out;
    transition: 300ms all;
    /* transition-delay: 300ms; */
}

.result:hover {
    cursor: pointer;
    scale: 1.01;
}

.resultLabel {
    font-size: 35;
    padding: 6px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: #a65bad;
}

.resultContent {
    /* border: 5px solid black; */
    padding: 6px;
    height: 85%;
    width: 100%;
    opacity: 1;
    background-color: white;
    overflow: scroll;
    padding-bottom: 100px;
}

.basicContent {
    /* border: 1px solid black; */
    padding-left: 20px;
    text-align: left;
    font-size: 30px;
}
