#sessionIDContainer {
  text-align: center;
}

#voteContainer {
  color: black;
  border: 0px;
  border-radius: 20px;
  overflow: hidden;
  font-size: 70;
  text-align: center;
  margin: auto;
  height: auto;
  width: 800px;
  min-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #C5CAE9;
  padding-bottom: 40px;
}

#ballotTitle {
  height: auto;
  padding: 5px;
  color: white;
  background-color: #3F51B5;
}

#instructions {
  padding-top: 40px;
  font-size: 25;
}

#listContainer {
  /* margin-top: ; */
  display: flex;
  justify-content: center;
}

.number {
  font-size: 31px;
  padding-top: 50px;
}

#rankNumbers {
  padding-top: 22px;
  float: left;
  position: relative;
  width: 50px;
}

#submitVoteBtn {
  height: 50px;
  width: 300px;
}

#voteSubmittedContainer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70;
  height: 400px;
  width: 800px;
  text-align: center;
  margin: auto;
}

#voteSubmittedTitle {
  color: white;
  padding: 40px;
}

#newVoteBtn {
  font-size: 20;
  height: 50px;
  width: 300px;
}

.scaleBtn{
  border-radius: 5px;
  font-size: large;
  border: none;
  background-color: #e2e5f4;
  transition: all 200ms;
}

.scaleBtn:hover{
  cursor: pointer;
  scale: 1.05;
}